body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #1a1f24;
  color: #000;
  padding: 1em;
}

h1, p {
  margin: 0;
  padding: 0;
  color: #000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
  margin-bottom: 1em;
  color: #fff;
}

header .menu {
  margin-right: auto;
  font-size: 2em;
}

header .title {
  font-weight: 600;
  font-size: 1.3em;
  text-transform: uppercase;
}

header .notification {
  margin-left: auto;
  font-size: 2em;
}

main {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

ul.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul.card-list .card {
  height: 100px;
  padding: 2em;
  margin-bottom: 1em;
  background: #f90;
  border-radius: 5px;
  -webkit-box-shadow: 0 15px 30px #00000024;
          box-shadow: 0 15px 30px #00000024;
}

ul.card-list .card span {
  display: block;
}

ul.card-list .card span.account-type {
  color: #0c225d;
  font-weight: 700;
  font-size: .95em;
  padding-bottom: 1.2em;
  text-transform: uppercase;
}

ul.card-list .card span.amount {
  color: #ffffff;
  font-size: 2.2em;
  font-weight: 500;
}

ul.card-list .card span.balance {
  color: #ffffff;
  font-weight: 500;
  font-size: .9em;
  opacity: .7;
}

ul.card-list .card.visa {
  z-index: 3;
  background: linear-gradient(135deg, #1bc8ad 0%, #1260ca 100%);
  -webkit-transition: all 300ms cubic-bezier(0.05, 0.88, 0.27, 1.07);
  transition: all 300ms cubic-bezier(0.05, 0.88, 0.27, 1.07);
}

ul.card-list .card.mastercard {
  z-index: 2;
  background: linear-gradient(135deg, #c83b9d 0%, #ca4d56 100%);
  -webkit-transition: all 300ms cubic-bezier(0.05, 0.88, 0.27, 1.07);
  transition: all 300ms cubic-bezier(0.05, 0.88, 0.27, 1.07);
}

ul.card-list .card.verve {
  z-index: 1;
  background: linear-gradient(135deg, #7377cc 0%, #4344ad 100%);
  -webkit-transition: all 300ms cubic-bezier(0.05, 0.88, 0.27, 1.07);
  transition: all 300ms cubic-bezier(0.05, 0.88, 0.27, 1.07);
}

ul.card-list.pull li:not(.clicked) {
  opacity: .6;
}

ul.card-list.pull li.clicked {
  z-index: 6;
}

ul.card-list.pull .visa {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

ul.card-list.pull .mastercard {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

ul.card-list.pull .verve {
  -webkit-transform: translate(0, -200%);
          transform: translate(0, -200%);
}

@-webkit-keyframes pull-up-anim {
  0% {
    -webkit-transform: translateY(112px);
            transform: translateY(112px);
  }
  100% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}

@keyframes pull-up-anim {
  0% {
    -webkit-transform: translateY(112px);
            transform: translateY(112px);
  }
  100% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}

@-webkit-keyframes pull-down-anim {
  0% {
    display: block;
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  99% {
    display: block;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(112px);
            transform: translateY(112px);
  }
}

@keyframes pull-down-anim {
  0% {
    display: block;
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  99% {
    display: block;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(112px);
            transform: translateY(112px);
  }
}

section.pull-up {
  display: none;
}

section.pull-up.disappear {
  display: none;
}

section.pull-up.hide {
  -webkit-animation: pull-down-anim 0.3s cubic-bezier(0.05, 0.88, 0.27, 1.07) 0.1s;
          animation: pull-down-anim 0.3s cubic-bezier(0.05, 0.88, 0.27, 1.07) 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

section.pull-up.show {
  -webkit-animation: pull-up-anim 0.3s cubic-bezier(0.05, 0.88, 0.27, 1.07) 0.1s;
          animation: pull-up-anim 0.3s cubic-bezier(0.05, 0.88, 0.27, 1.07) 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: block;
}

.card.debit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 2em;
  background: #00000030;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
}

.card.debit .payoff {
  color: #347FCB;
}

.card.debit .payoff i {
  color: #ffffff;
  opacity: .5;
  padding-right: 1em;
}

.card.debit .payoff-amount {
  margin-left: auto;
}

.heading-text {
  color: #ffffff;
  font-weight: 600;
  font-weight: 1.2em;
  margin: 1.5em 0;
  opacity: .7;
  letter-spacing: 2px;
}

ul.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  text-align: center;
}

ul.contacts li {
  padding: 1em;
  background: #cccccc;
  margin-right: .3em;
  border-radius: 5px;
  background: #00000030;
  -webkit-box-shadow: 0 5px 25px #0000000d;
          box-shadow: 0 5px 25px #0000000d;
}

ul.contacts li:first-child {
  background: transparent;
  border: 1px solid #1583c0;
}

ul.contacts li:first-child:before {
  content: "\f272";
  font-family: "Ionicons";
  color: #1583c0;
  font-size: 2em;
}

ul.contacts li:not(:first-child):before {
  content: '';
  width: 32px;
  height: 32px;
  background: #ff9900;
  border-radius: 50%;
  display: inline-block;
}

ul.contacts li:nth-child(odd):before:not(:first-child) {
  background: url("https://source.unsplash.com/random/50x50") no-repeat;
}

ul.contacts li:nth-child(even):before {
  background: url("https://source.unsplash.com/random/50x51") no-repeat;
}

ul.contacts li p {
  color: #ffffff;
  opacity: .5;
  text-align: center;
  line-height: 1.2em;
  font-size: .9em;
}

ul.all-activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul.all-activity li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0;
  border-bottom: 1px solid #ffffff0d;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

ul.all-activity li .icon {
  width: 36px;
  height: 36px;
  background: #1abcb0;
  border-radius: 50%;
}

ul.all-activity li .activity-name {
  padding-left: 1em;
}

ul.all-activity li .activity-name .amount {
  display: block;
  color: #ffffff;
  font-weight: 500;
}

ul.all-activity li .activity-name .description {
  color: #ffffff;
  opacity: .5;
  font-size: .8em;
  font-weight: 500;
}

ul.all-activity li .timestamp {
  margin-left: auto;
  justify-self: flex-end;
}

ul.all-activity li .timestamp .spend-icon:before {
  content: "\f27e";
  font-size: 1em;
  font-family: "Ionicons";
  color: #d00000;
  display: block;
  padding-bottom: 1em;
  text-align: right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

ul.all-activity li .timestamp .date {
  color: #ffffff;
  opacity: .5;
  font-size: .8em;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */